<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="vehiclebean" class="Classes.Vehicles">
        <property name="vehicle_number" value="Mh12S1234"/>
        <property name="color" value="White"/>
        <property name="owner_name" value="Shashank"/>
    </bean>

    <bean id="carbean" class="Classes.CarClass">
        <property name="company" value="Jaguar"/>
        <property name="model" value="Range Rover"/>
        <property name="vehicle" ref="vehiclebean"/>
    </bean>
</beans>